.scrolls {
  background: url('https://i.imgur.com/1sEMmRc.jpg');
  animation: scrolls 20s ease-in-out infinite;
}

@keyframes scrolls {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}